/** scripts for eRegister application */

/* whole body style */
body {
  font-size: 1vw;
  font-family: Arial, sans-serif;
  color: rgb(94, 94, 94);
}

/* heading styles and alignment */
.heading {
  color: white;
  background-color: rgb(250, 106, 39);
  width: 100%;
  font-size: 1.4vw;
  display: grid;
  grid-template-areas: "left right";
  margin: 0;
  overflow: hidden;
}

.left {
  grid-area: left;
  margin: 1.2vw;
}
.right {
  grid-area: right;
  margin-top: 1.3vw;
  position: absolute;
  right: 2vw;
  font-size: 1.2vw;
}
