body {
  font-family: "Times New Roman";
  color: #404040;
  font-size: 18px;
  padding: 0em 5em 0em 5em;
}

h1,
h3 {
  font-family: "arial";
  font-weight: 300;

  color: #a4a44b;
  text-decoration: underline;
  background-color: #f0f0f0;
}
hr {
  height: 2px;
  color: rgb(214, 210, 210);
  background-color: rgb(214, 210, 210);
}
h1 {
  text-align: center;
}
h3 {
  font-size: 24px;
}
span {
  text-decoration: underline;
}
.commentsList {
  background-color: #ffffa8;
  font-style: italic;
  color: #404040;
}
