/** scripts for the hospital website assignment */

/* whole body style */
body {
  font-size: 1vw;
  font-family: Arial, sans-serif;
  color: rgb(94, 94, 94);
}

/* heading styles and alignment */
.heading {
  color: white;
  background-color: rgb(250, 106, 39);
  width: 100%;
  /* display: flex; */
  /* vertical-align: middle; */
  font-size: 1.2vw;
  display: grid;
  grid-template-areas: "left right";
  margin: 0;
  overflow: hidden;
}
li {
  display: inline;
}
.left {
  grid-area: left;
  /* overflow: hidden; */
}
.right {
  grid-area: right;
  margin-top: 1.2vw;
  margin-left: 70%;
  /* overflow: hidden; */
  /* float: right;
  position: absolute;
  top: 2vw;
  left: 85%; */
}

/* heading hyperlinks homepage */
a:active {
  color: rgb(155, 119, 0);
}
a:hover {
  color: rgb(253, 208, 123);
}
/* a:visited {
  color: rgb(11, 0, 168);
} */
a {
  color: white;
  text-decoration: none;
}
/* homepage middle body */
h1 {
  font-size: 1.8vw;
}
h2 {
  font-weight: bold;
  font-size: 1.4vw;
  margin-bottom: 0;
}
#care {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  margin-top: 0;
}
.midbody {
  margin-left: 10vw;
  margin-right: 10vw;
}
#img {
  width: 100%;
  background-repeat: repeat-x;
}
/* .middle {
  clear: both;
} */
.grid-container {
  display: grid;
  grid-template-areas: "left right";
  /* margin: 0; */
  overflow: hidden;
}
.leftmid {
  grid-area: left;
  width: 96%;
  overflow: hidden;
  text-align: justify;
}
.rightmid {
  /* float: right; */
  grid-area: right;
  /* margin: 0; */
  overflow: auto;
}

/* homepage phone style */
#phone {
  color: rgb(18, 100, 252);
  text-decoration: underline;
}

/* homepage email style */
#email {
  color: rgb(250, 106, 39);
  text-decoration: none;
}
#email:hover {
  color: red;
}

/* bottom of pages */
.grid-bottom {
  display: grid;
  grid-template-areas: "left right";
  height: 2vw;
  /* overflow: hidden; */
  background-color: rgb(197, 197, 197);
  font-size: 0.8vw;
  width: 99%;
  position: fixed;
  bottom: 0;
  right: 0;
}
.leftbottom {
  grid-area: left;
  padding-left: 5%;
}
.rightbottom {
  grid-area: right;
  padding-left: 80%;
}

/* form */
#acc {
  width: 98.5%;
}
.form-name {
  display: grid;
  grid-template-areas: "left center right";
  font-size: 0.8vw;
}

/* body contents of registration page */
.leftside {
  grid-area: left;
  margin-right: 2vw;
}
.midside {
  grid-area: center;
  /* width: 95%; */
  margin-right: 2vw;
}
.rightside {
  grid-area: right;
  /* width: 100%; */
}
input[type="text"],
input[type="password"],
input[list="dept"] {
  width: 95%;
  height: 2vw;
  border: 0.15vw solid gray;
  border-radius: 0.4vw;
  /* border-width: 0.15vw; */
  padding-left: 1vw;
}
label {
  font-size: 1.1vw;
  margin-bottom: 0.6vw;
}
/* #depart {
  padding-top: 0.5vw;
} */

/* radio buttons */
#rbtn {
  margin-top: 0.8vw;
}
.rbtns {
  margin-top: 0.8vw;
  font-size: 2vw;
}

/* department dropdown menu */
select {
  height: 2.3vw;
  width: 100%;
  /* height: 30px; */
  border: 0.15vw solid gray;
  border-radius: 0.4vw;
  /* border-width: 0.15vw; */
  padding-left: 1vw;
  font-size: 1vw;
  color: black;
}

/* buttons and styles */
#reset,
#reg {
  /* width: fit-content; */
  height: 2.5vw;
  border: 0.15vw solid;
  border-radius: 0.4vw;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2vw;
  margin-right: 0.4vw;
}
#reset {
  color: rgb(255, 255, 255);
  background-color: rgb(139, 139, 139);
  margin-right: 0.7vw;
  width: 8vw;
}
#reset:hover {
  background-color: rgb(78, 78, 78);
}
#reg {
  background-color: rgb(250, 106, 39);
  color: rgb(255, 255, 255);
  width: 14vw;
}
#reg:hover {
  background-color: rgb(207, 69, 5);
}
.buttons {
  /* padding-left: 12%; */
  position: absolute;
  right: 0;
  margin-right: 10vw;
  margin-top: 1.5vw;
}

/* check boxes */
.checks {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#eld {
  margin-right: 1em;
}

/* table */
table {
  width: 100%;
  /* text-align: left; */
  border-collapse: collapse;
  margin-top: 2vw;
  overflow: auto;
  margin-bottom: 2vw;
}
th,
td {
  text-align: left;
  padding: 8px;
}
th {
  border-bottom: 0.1vw solid rgb(199, 199, 199);
  background-color: rgb(211, 211, 211);
}
td {
  border-top: 0.1vw solid rgb(199, 199, 199);
}
tr:nth-child(odd) {
  background-color: rgb(236, 236, 236);
}

/* footnotes of text fields */
.footnotes {
  font-family: arial narrow;
  /* font-style: italic; */
  margin-top: 0.2vw;
  /* font-style: italic; */
  font-size: 0.8vw;
}
