#banner {
  background: URL(../images/bannerbg.png) repeat-x;
  text-align: center;
}
body {
  background: URL(../images/background.png);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 8px;
  margin: 0;
}
h1 {
  font-size: 24pt;
  font-weight: bold;
  text-shadow: gray 3px 3px;
  text-align: center;
}
.bodycontent {
  width: 800px;
  border: 4px solid gray;
  border-radius: 20px;
  margin: auto;
  overflow: auto;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "left center right"
    "footer footer footer";
  /* grid-gap: 10px; */
  /* padding: 10px; */
  margin: 0;
  overflow: hidden;
}
.header {
  grid-area: header;
  background: URL(../images/rbg.png) repeat-x;
  font-size: 48px;
  color: red;
  overflow: hidden;
  margin: 0;
}
.left {
  grid-area: left;
  margin: 0;
  overflow: hidden;
}
.center {
  grid-area: center;
  margin: 0 10pt 0 10pt;
  overflow: hidden;
}
.right {
  grid-area: right;
  background-color: rgb(102, 150, 48);
  margin: 0;
  overflow: hidden;
}
.footer {
  grid-area: footer;
  background-color: rgb(102, 150, 48);
  margin: 0;
  overflow: hidden;
  text-align: center;
}
.movieimg {
  grid-area: header;
  position: absolute;
  right: 0;
}
.review {
  border: 3px solid gray;
  border-radius: 9px;
  font-weight: bold;
}
q {
  display: inline;
}
#validators {
  float: right;
}
