#redbox {
  height: 200px;
  width: 200px;
  background-color: Red;
  color: white;
  text-align: center;
  /* vertical-align: middle; /not working */
}

#bluebox {
  height: 200px;
  width: 200px;
  color: white;
  background-color: blue;
  position: absolute;
  left: 100px;
  top: 100px;
  text-align: center;
}
