body {
  font-family: "Georgia";
  color: #404040;
  background-color: white;
  background-image: url(../recipeImages/silverware.jpg);
  background-attachment: fixed;
  font-size: 11px;
  padding: 0em 11em 0em 11em;
}

h1,
h2 {
  font-family: "Lucida Sans";
  color: #a4a400;
  text-decoration: underline;
  /* background-color: #f0f0f0; */
  letter-spacing: 0.25em;
}
span {
  background-color: #f0f0f0;
}
#first {
  font-family: "Georgia";
  color: #404040;
}

hr {
  /* height: 1px; */
  background-color: rgb(179, 173, 173);
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 22pt;
}
h2 {
  font-size: 18px;
}
#cake {
  text-decoration: line-through;
}
.bg {
  margin-left: 3em;
  margin-right: 3em;
  background-color: #ffffa8;
  font-style: italic;
  color: #404040;
}

.pie {
  list-style-image: url(../recipeImages/pie_icon.gif);
}

a:link {
  color: #a4a400;
}
a:hover {
  color: #4974b4;
}
a:active {
  color: #10c910;
}
a:visited {
  color: #626e62;
}
#second {
  font-family: monospace;
}
abbr {
  text-decoration: underline;
}
