body {
  background-color: rgba(187, 205, 233, 0.63);
  font-family: "Segoe UI";
  color: rgb(36, 33, 33);
  font-size: 18px;
  padding-left: 5em;
  padding-right: 5em;
}

h1 {
  color: rgb(40, 40, 63);
  text-align: center;
  font-family: "Garamond";
  padding-bottom: 3vw;
  font-size: 44px;
  font-weight: 400;
}
h2 {
  color: rgb(53, 53, 70);
}
img {
  vertical-align: middle;
}
#intro {
  text-align: center;
}
#intro::first-letter {
  font-size: 1.5em;
}
span {
  font-weight: bold;
}
dt {
  color: rgb(20, 84, 180);
}
li {
  font-size: 16px;
}
.reverseList {
  display: flex;
  flex-direction: column-reverse;
}
.menu ol dl {
  display: none;
}

.menu li:hover > dl {
  display: block;
}
p {
  font-family: Georgia;
  -webkit-initial-letter: 2;
  initial-letter: 2;
}
dl {
  font-size: 14px;
}
.rounded {
  border: 3px;
  /* border-radius: 50%; */
  border-color: black;
}
#footer {
  text-align: center;
  font-family: "Helvetica Neue";
}
a:link {
  color: #a83f15;
  text-decoration: none;
}
a:hover {
  color: #4974b4;
  text-decoration: underline;
}
a:active {
  color: #10c910;
  text-decoration: underline;
}
a:visited {
  color: #626e62;
}
